body{
    background-image: url(images/background.jpg);
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
}

header{
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;;
    padding: 10px;
    font-size: 120%;
    text-transform: uppercase;
}

h1{
    text-align: left;
    margin-top: -3%;
}

#headerlinksright{
    text-align: right;
    padding: 10px;
    margin-top: -0.2%;
}

a{
    color: white;
}

a:hover{
    text-decoration: underline;
    color: orange;
}

a:link{
    text-decoration: none;
}

#footer{
    position: absolute;
    width: 100%;
    margin-top: 200px;

}

#loginfunction{
    margin-right: auto;
    margin-left: 100px;
    margin-top: 50px;
    float: left;
    width: 10%;
}


#footerright{
    float: right;
}

#footerleft{
    float: left;
}


#blogposts{
    width: 800px;
    margin-top: 70px;
    margin-left: 600px;
    text-align: center;
}

#buttons{
    background-color: grey; 
    border: none;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    color: white;
}

